/* tabe of contents */
/* 1. varibales and default stats */
/*      a. variables */
/*      b. centering */
/*      c. mixins */
/* 2. display container */
/* 3. buttons spacing*/
/* 4. buttons styling */
/* 5. animation */


/* 1. varibales and default stats */
    // a. variables
$button-size: 9vw;
$primary-color: black;
$secondary-color: white;
$tertiary-color: red;

* {
    margin: 0px;
    padding: 0px;
}

/*      b. centering */
#root, .app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*      c. mixins */

@mixin button() {
    font-size: 20px;
    width: $button-size;
    height: $button-size;
    margin: .2em;
}

/* 2. display container */
#displayContainer {
    border: dotted 5px $primary-color;
    padding: .2em;
    width: 70%;
    text-align: center;
}

/* 3. buttons spacing*/
.all-buttons {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.normal-buttons {
    display: grid;
    grid-template-columns: repeat(4, $button-size + 2vw);
}
.buttons-advanced {
    display: grid;
    grid-template-columns: $button-size + 2vw;
    grid-template-rows: repeat(5, $button-size + 1vw);
    animation: rising 500ms linear forwards;
    margin: .2em;
}
/* 4. buttons styling */

button {
    @include button();
    color: $primary-color;
    background-color: $secondary-color;
}
.number {
    color: $secondary-color;
    background-color: $primary-color;
}
.non-number {
    color: $primary-color;
    background-color: $secondary-color;
}
.ac {
    background-color: $tertiary-color;
}
.equals {
    background-color: $primary-color;
    color: $tertiary-color;
}
.advanced-button {
    @include button();
    width: min-content;
    padding: 0 .2em;
}

/* 5. animation */

@keyframes rising {
    from {
        width: 0vw;
        opacity: 0;
    }
    to {
        width: $button-size;
        opacity: 1;
    }
}

.hidden {
    display: none;
}