/* tabe of contents */
/* 1. varibales and default stats */
/*      a. variables */
/*      b. centering */
/*      c. mixins */
/* 2. display container */
/* 3. buttons spacing */
/* 4. buttons styling */
/* 5. animation */
/* 6. media queries */


/* 1. varibales and default stats */
    // a. variables
@import "./variables";

@import "./reset";

/*      b. centering */
#root, .app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}
/*      c. mixins */

@mixin button() {
    font-size: 4rem;
    width: 100%;
}
@mixin coloring($prime-color, $other-color) {
    background-color: $prime-color;
    color: $other-color;
    transition-duration: 300ms;
    &:focus,  &:hover {
        outline: none;
        color: $prime-color;
        background-color: $other-color;
    }
}

/* 2. display container */
.app {
    margin: 1rem auto;
}
#displayContainer {
    font-size: 3rem;
    border: dotted 5px $primary-color;
    padding: 1rem;
    min-width: min-content;
    width: 70%;
    text-align: center;
}
#ghost-answer {
    color: hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 0%);
    width: min-content;
    padding: 0 .2rem;
    margin: 0 auto;
}

/* 3. buttons spacing */
.all-buttons {
    width: 40%;
    height: 40vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
}
.normal-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.buttons-advanced {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    animation: rising 500ms linear forwards;
}
/* 4. buttons styling */

button {
    @include button();
    @include coloring($primary-color, $secondary-color);
}
.number {
    @include coloring($secondary-color, $primary-color);
}
.non-number {
    @include coloring($primary-color, $secondary-color);
}
.ac {
    @include coloring($tertiary-color, $primary-color);
}
.equals {
    @include coloring($tertiary-color, $secondary-color);
}
.advanced-button {
    @include button();
    width: min-content;
    padding: 1rem;
    margin: 1rem;
}

/* 5. animation */

@keyframes rising {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

/* 6. media queries */

@media screen and (max-width: 700px) {
    .all-buttons {
        width: 80%;
        height: min-content;
    }
    button {
        font-size: 3rem;
        padding: .5rem;
    }
}
@media screen and (min-width: 700px) {
    button {
        // font-size: 3rem;
    }
}