/* tabe of contents */
/* 1. varibales and default stats */
/*      a. variables */
/*      b. centering */
/*      c. mixins */
/* 2. display container */
/* 3. buttons spacing */
/* 4. buttons styling */
/* 5. animation */
/* 6. media queries */
/* 1. varibales and default stats */
* {
  margin: 0px;
  padding: 0px;
}

/*      b. centering */
#root, .app {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*      c. mixins */
/* 2. display container */
#displayContainer {
  border: dotted 5px black;
  padding: .2em;
  width: 70%;
  text-align: center;
}

#ghost-answer {
  color: grey;
  background-color: black;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0 .2em;
  margin: 0 auto;
}

/* 3. buttons spacing */
.all-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.normal-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (11vw)[4];
      grid-template-columns: repeat(4, 11vw);
}

.buttons-advanced {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11vw;
      grid-template-columns: 11vw;
  -ms-grid-rows: (10vw)[5];
      grid-template-rows: repeat(5, 10vw);
  -webkit-animation: rising 500ms linear forwards;
          animation: rising 500ms linear forwards;
  margin: .2em;
}

/* 4. buttons styling */
button {
  font-size: 20px;
  width: 9vw;
  height: 9vw;
  margin: .2em;
  color: black;
  background-color: white;
}

.number {
  color: white;
  background-color: black;
}

.non-number {
  color: black;
  background-color: white;
}

.ac {
  background-color: red;
}

.equals {
  background-color: black;
  color: red;
}

.advanced-button {
  font-size: 20px;
  width: 9vw;
  height: 9vw;
  margin: .2em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0 .2em;
}

/* 5. animation */
@-webkit-keyframes rising {
  from {
    width: 0vw;
    opacity: 0;
  }
  to {
    width: 9vw;
    opacity: 1;
  }
}
@keyframes rising {
  from {
    width: 0vw;
    opacity: 0;
  }
  to {
    width: 9vw;
    opacity: 1;
  }
}

.hidden {
  display: none;
}

/* 6. media queries */
@media screen and (max-width: 360px) {
  button {
    font-size: 25px;
    width: 9vw;
    height: 9vw;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    padding: .2em;
    margin: .2em;
  }
}

@media screen and (min-width: 700px) {
  button {
    font-size: 30px;
    width: 9vw;
    height: 9vw;
    margin: .2em;
  }
}
/*# sourceMappingURL=App.css.map */