/* tabe of contents */
/* 1. varibales and default stats */
/* 2. display container */
/* 3. buttons spacing*/
/* 4. buttons styling */
/* 5. animation */


/* 1. varibales and default stats */
$button-size: 9vw;
$primary-color: black;
$secondary-color: white;
$tertiary-color: red;

* {
    margin: 0px;
    padding: 0px;
}
#root, .app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 2. display container */
#displayContainer {
    border: dotted 5px $primary-color;
    padding: .2em;
    width: 70%;
    text-align: center;
}

/* 3. buttons spacing*/
.buttons {
    display: grid;
    grid-template-columns: repeat(4, $button-size + 2vw);
}
.buttons-advanced {
    display: grid;
    grid-template-columns: repeat(5, $button-size + 2vw);
    grid-template-rows: repeat(2, $button-size + 2vw);
    animation: rising 500ms linear forwards;
}
/* 4. buttons styling */
.number {
    background-color: $primary-color;
    color: $secondary-color;
}
.non-number {
    color: $primary-color;
    background-color: $secondary-color;
}
.ac {
    background-color: $tertiary-color;
}
.equals {
    background-color: $primary-color;
    color: $tertiary-color;
}
button {
    font-size: 20px;
    width: var(--button-size);
    height: var(--button-size);
    margin-top: .2em;
    color: $primary-color;
    background-color: $secondary-color;
}
.advanced-button {
    width: max-content;
    padding: .2em;
}

/* 5. animation */

@keyframes rising {
    from {height: 0vw;}
    to {height: $button-size;}
}

.hidden {
    display: none;
}