button {
  font-size: 3rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
}
#calculatorContainer {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(5, 10vh);
  grid-template-columns: repeat(4, 20vw);
}
#displayContainer {
  height: 2em;
}
