
:root {
    --button-size: 9vw;
}
* {
    margin: 0px;
    padding: 0px;
}
#root, .app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#displayContainer {
    border: dotted 5px black;
    padding: .2em;
    width: 70%;
    text-align: center;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, calc(var(--button-size) + 2vw));
}
.buttons-advanced {
    display: grid;
    grid-template-columns: repeat(5, calc(var(--button-size) + 2vw));
    grid-template-rows: repeat(2, calc(var(--button-size) + 2vw));
    animation: rising 500ms linear forwards;
}
.hidden {
    display: none;
}
.number {
    background-color: black;
    color: whitesmoke;
}
.non-number {
    color: black;
    background-color: whitesmoke;
}
.ac {
    background-color: red;
}
.equals {
    background-color: black;
    color: red;
}
button {
    font-size: 20px;
    width: var(--button-size);
    height: var(--button-size);
    margin-top: .2em;
    color: black;
    background-color: whitesmoke;
}
.advanced-button {
    width: max-content;
    padding: .2em;
}
@keyframes rising {
    from {height: 0vw;}
    to {height: var(--button-size);}
}